<div class="it-pager">	
	<div class="pager-inner">	

		<div class="icon icon-first" ng-click="pager.first()"></div>
		<div class="icon icon-previous" ng-click="pager.previous()"></div>
		<div class="icon" style="width:100px">
			<input ng-model="currentPage" ng-change="currentPageChanged()"/>
			<span>/{{pager.totalPages()}}</span>
		</div>
		<div class="icon icon-next" ng-click="pager.next()"></div>
		<div class="icon icon-last" ng-click="pager.last()" ng-style="isLast()"></div>
		<div class="icon" style="width:130px;">
			<span>per page:</span>
			<input ng-model="pager.paginateNumber" ng-change="currentPageChanged()" style="width:50px;"/>
		</div>
	</div>
</div>