<div class="ips2-table">
	<div class="it-main-container">
		<div it-scroll-container="horizontal"></div>
		<div it-scroll-container="vertical"></div>
		<div class="inner-container">
			<div ng-transclude></div>			
			<div it-grid-viewport class="it-grid" ng-style="gridStyle()">				
				<div class="grid-container">
					<div class="it-vertical-border left-border"></div>
					<div ng-repeat="row in renderedRows track by row.id" on-finish-render>
						<div class="it-grid-cell" ng-repeat="cell in row track by cell.id">
							<div class="centerized-block default-cell" ng-style="cellStyle(cell.rowIndex, cell.columnIndex, row.isAggregated)">
								{{cell.value}}
								<div class="it-vertical-border right-border"></div>
								<div class="it-horizontal-border bottom-border"></div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>