@import "it-header-style";
@import "pager";
@import "scrollbar";

$tableBorderColor: #8e8e8e;
$cellHeight: 30px;

.ips2-table
{
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	overflow: hidden;
	div
	{
		box-sizing: border-box;
	}
	.it-main-container
	{
		overflow: hidden;
		width: 100%;
		height: 100%;
		padding-right: 20px;
		padding-bottom: 20px;
		position: relative;

		.inner-container
		{
			overflow: hidden;
			width: 100%;
			height: 100%;
		}
	}
	.scrollbar-area
	{
		&.hidden
		{
			display: none;
		}		
	}
}

.it-group
{
	overflow: visible;
	position: relative;
	z-index: 5;
	&.it-group-column
	{
		.it-header-key-block
		{
			float: left;
			height: 100%;				
			:after
			{
				clear: both;
			}
		}
		.it-header-sub-block
		{
			/*display: inline-block;*/
			/*float: left;*/
			display: table-cell;
		}
		.it-header-cell
		{
			/*float: left;*/
			height: $cellHeight;
		}
		.it-header-row
		{
			display: table-row;
			/*height: 100%;*/
			/*height: $cellHeight;*/		
		}
		.hidden-field
		{
			height: 0px !important;			
		}

		&:after
		{
			clear: both;
		}
	}	
	&.it-group-row
	{

		.it-header-key-block
		{				
			/*float: left;*/
			height: 100%;			
		}
		.it-header-sub-block
		{
			display: table;
		}
		.it-header-row
		{
			/*float: left;*/
			height: 100%;
			display: table-cell;
			&.it-header-row-last {
				height: auto;
			}			
		}


		.it-header-cell
		{
			/*float: left;*/
			width: 50px;
			display: table-cell;
			/*height: $cellHeight;*/
		}			
		.hidden-field
		{
			width: 1px !important;

		}
		.it-subtotal
		{
			height: 30px; /*default*/
			.it-header-subtotal
			{
				width: 100%;
				height: 100%;
				/*height: 30px;*/
			}
		}		
	}
	
	.it-header-right-border
	{

	}

	.it-header-key-block
	{
		position: relative;

		> div:first-child
		{
			height: 100%;
		}
	}
	.it-header-sub-block
	{		
		&.hidden {
			display: none;
		}
	}
	.it-header-key
	{
		display: inline-block;
	}
	.it-header
	{			
		position: absolute;
		padding: 0px;
		text-align: center;
		overflow: hidden;
		
	}
	.it-header-row
	{
		position: relative;
		box-sizing: border-box;
		display: block;
		text-align: center;
		/*width: 100%;*/			
		/*line-height: 30px;*/
		overflow: hidden;
	}
	.it-header-cell
	{
		position: relative;						
		padding: 3px;
		vertical-align: middle;
		word-break: break-all;
		line-height: 100%;
	}

	.it-key
	{
		display: none;
	}
	.it-header-row-dummy
	{
		.it-header-cell
		{
			width: 100% !important;
			height: 100% !important;
		}		
	}

	.hidden-field
	{
		background-color: transparent !important;
		padding: 0px !important;
		font-size: 0px;
	}
}


.centerized-block
{
	text-align: center;

	&:before
	{
		content: '';
  		display: inline-block;
  		height: 100%;
  		vertical-align: middle;
	}
	.centerized {
		display: inline-block;
		vertical-align: middle;
	}
}

.it-horizontal-border 
{
	position: absolute;
	border-top: 1px solid $tableBorderColor;
	width: 100%;
	height: 0px;	
	&.top-border
	{
		top: 0px;
		left: 0px;
		
	}
	&.bottom-border
	{
		bottom: 0px;
		left: 0px;
	}
}
.it-vertical-border
{
	position: absolute;
	border-right: 1px solid $tableBorderColor;
	width: 0px;
	height: 100%;
	&.left-border
	{
		top: 0px;
		left: 0px;
	}
	&.right-border
	{
		top: 0px;
		right: 0px;
	}

}
.it-grid
{
	display: table;
	position: relative;
	overflow: hidden;

	div
	{
		box-sizing: border-box;
	}

	.it-grid-row
	{
		display: table-row;
		position: relative;
	}

	.it-grid-cell
	{
		display: table-cell;
		position:relative;
		vertical-align: middle;

		.it-cell-content
		{
			padding: 3px;
		}
	}
	.grid-container
	{
		position: relative;
		left: 0px;
		top: 0px;
		z-index: 2;
	}
}